.Cards{
  margin-bottom: 20px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.layout-row{

    display: flex;
    flex-wrap:wrap;
    align-items: stretch;

}

.head{
    margin-right: 10px;
    margin-left:10px;
    color:azure;
}

.example-container {
 
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}
